option_settings:
  - option_name: LOGENTRIES_CONFIG_PATH
    value: /etc/le/config

files:
  "/etc/yum.repos.d/logentries.repo":
    mode: "000664"
    owner: root
    group: root
    content: |
      [logentries]
      name=Logentries repo
      enabled=1
      metadata_expire=1d
      baseurl=http://rep.logentries.com/amazonlatest/\$basearch
      gpgkey=http://rep.logentries.com/RPM-GPG-KEY-logentries
    encoding: plain

  "/etc/le/config" :
    mode: "000755"
    owner: root
    group: root
    content: |
      [Main]
      user-key = ACCOUNT_KEY
      pull-server-side-config=False

      [Application name]
      path = /path/to/log/file
      token = MY_TOKEN
    encoding: plain

commands:
  01-update-yum:
    command: yum update
  02-install-logentries:
    command: yum install logentries-daemon -y

container_commands:
  03-create-logentries-config:
    command: |
      rm $LOGENTRIES_CONFIG_PATH
      echo [Main] > $LOGENTRIES_CONFIG_PATH
      echo user-key = $LOGENTRIES_USER_KEY >> $LOGENTRIES_CONFIG_PATH
      echo pull-server-side-config=False >> $LOGENTRIES_CONFIG_PATH
      echo >> $LOGENTRIES_CONFIG_PATH
      echo [name] >> $LOGENTRIES_CONFIG_PATH
      echo path = /var/log/tomcat8/catalina.out >> $LOGENTRIES_CONFIG_PATH
      echo destination = Bridge-EX2-$ENV/Bridge-EX2-$ENV >> $LOGENTRIES_CONFIG_PATH
  04-restart-logentries:
    command: service logentries start
